*{
    padding: 0;
    margin: 0;
    
}
body{
   line-height: 1.4;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
img{
    width: 100%;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}
.hero1{
    /* https://www.pexels.com/photo/photo-of-people-near-wooden-table-3184418/ */
     background-image: url(pexels-fauxels-3184418.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     height: 90vh;
}

.banner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.banner-title{
    font-size: 3rem;
   
    line-height: 1.2;
}

.banner p{
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    
    font-weight: 300;
    word-spacing: 2px;
}
.banner form{
    background: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
}
.search-input{
    
    font-size: 1.1rem;
    width: 100%;
    outline: 0;
    padding: 0.6rem 0;
    border: none;
}
.search-input::placeholder{
    text-transform: capitalize;
}
.search-btn{
    width: 40px;
    font-size: 1.1rem;
    
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
}


.design{
    padding: 4.5rem 0;
}
.title{
    text-align: center;
    padding: 1rem 0;
}
.title h2{
   
    font-size: 2.1rem;
    text-align: center;
}
.title p{
    text-transform: uppercase;
    padding: 0.6rem 0;
}
.design-content{
    display: block;
    margin: 2rem 0;
}
.design-item{
    cursor: pointer;
    margin: 1.5rem 0;
}
.design-img{
    position: relative;
    overflow: hidden;
}
.design-img::after{
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
.design-img img{
    transition:  all 0.5s ease;
}
.design-item:hover img{
    transform: scale(1.2);
}
.design-img span:first-of-type{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    
    color: #fff;
    padding: 0.25rem 1rem;
}
.design-img span:last-of-type{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
}
.design-title{
    padding: 1rem;
    font-size: 1.4rem;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.design-title a{
    
    text-decoration: none;
    color:#000;
    font-weight: 800;
}


/* Media Queries */

@media only screen and (min-width: 768px)
{

    .design-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }
    .design-item{
        margin: 0;
    }
  
    .wrapper{
          width: 100%;
    }
    .hero2{
        width:100%;
        display: block;
    }
    .pic{
        width: 100%;
        height: 60vh;
    }
    
 
  


}
